/*!
Theme Name:    Reef Shop
Author:        Zvi Eshel
Author URI:    https://windygo.io
Description:   Products, lessons, courses and more.
Version:       1.0.0
License:       GNU General Public License v3 or later
License URI:   https://www.gnu.org/licenses/gpl-3.0.html
Template:      page-builder-framework
Text Domain:   page-builder-framework-child
*/

/* Page Buildr Framework */

:root {
  --primary-bg-color: #d4ebd7;
  --primary-color: #231f20;
  --secondary-bg-color: #feaf59;
  --secondary-color: #f26522;

  /* Gravity Forms Date Picker */
  --default-day: #7dff7d;
}

body.home {
  background-image: url(http://localhost/reefshop/wp-content/uploads/2020/03/2-white-sand-texture.jpg);
}

div#content {
  min-height: 76vh;
}

.elementor-nav-menu__align-right .elementor-nav-menu {
  margin-right: auto;
}

.wpbf-navigation {
  z-index: 9; /* was originally 555 */
}

/* Controls the white unerline under main menu items */
.elementor-nav-menu--main .elementor-item {
  padding: 0 0 5px 0 !important;
}

.wpbf-menu-right .wpbf-menu {
  float: left;
  font-family: "Assistant", sans-serif;
  font-weight: 600;
}

/* waze icon - hide on desktop */
li.elementor-icon-list-item:nth-child(2) {
  display: none;
}

.rtl .wpbf-menu-right .wpbf-menu {
  float: right;
}

.rtl .woocommerce .woocommerce-message .button,
.rtl .woocommerce .woocommerce-error .button,
.rtl .woocommerce .woocommerce-info .button,
.rtl .woocommerce-page .woocommerce-message .button,
.rtl .woocommerce-page .woocommerce-error .button,
.rtl .woocommerce-page .woocommerce-info .button {
  float: left;
}

.wpbf-menu > .current-menu-item > a {
  color: var(--secondary-color) !important;
}

.home span.gfield_required {
  display: none;
}

/* newsletter */
.ginput_container.ginput_container_consent {
  font-family: "Assistant", sans-serif;
  font-size: 0.8rem;
  transform: translateY(-3rem);
  color: var(--primary-color);
}

input#input_13_2_1 {
  top: 2px;
  position: relative;
  right: -2px;
}

input#gform_submit_button_13 {
  transform: translateY(-1rem);
  background: var(--primary-color);
  color: white;
  font-family: "Assistant", sans-serif;
}

input#input_13_1 {
  height: 44px;
  padding: 10px;
  direction: ltr;
}

li.wpbf-post.product.type-product {
  border: none !important;
}

.wpbf-navigation a {
  color: var(--primary-color);
}

.wpbf-sub-menu > .menu-item-has-children > .sub-menu {
  background: var(--secondary-color);
}

.elementor-icon.elementor-divider__element {
  color: var(--secondary-color);
}

.wpbf-woo-loop-thumbnail-wrapper {
  max-width: 378px;
  margin: auto;
}

.wpbf-sub-menu li a {
  color: var(--primary-color);
}

.wpbf-page-footer {
  font-size: 14px;
  color: var(--primary-color);
  background: var(--secondary-color);
}

.woocommerce a.button.alt:hover {
  background-color: #fff;
}

.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
  background: var(--primary-bg-color);
}

h3.woocommerce-loop-product__title {
  font-weight: 900 !important;
  height: 37px;
}

h1.entry-title {
  font-family: "Assistant", sans-serif;
}

/* Gravity Forms */

.highlight {
  background: yellow;
  display: block;
  padding: 1rem;
  margin-left: -0.55rem;
}

a.ui-state-default {
  background-color: var(--default-day) !important;
}

.ui-datepicker-calendar .ui-state-active {
  background: var(--default-day) !important;
  border: none !important;
  color: #666;
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 #fff;
  filter: dropshadow(color=#FFF, offx=0, offy=1);
  position: relative;
  width: 30px !important;
  margin: 0 !important;
}

div#gform_wrapper_12 {
  background-color: #d3d3d31c;
  padding: 2rem;
}

.collapsible-sections-field .gsection_title:after {
  right: 1rem !important;
}

.rtl .gform_wrapper .collapsible-sections-field h2.gsection_title {
  padding-right: 3rem !important;
}

label.gfield_label {
  font-weight: 400 !important;
  font-family: "Assistant";
  color: var(--primary-color);
}

li.gsection {
  background-color: var(--primary-bg-color) !important;
}

h2.gsection_title {
  font-family: "Assistant", sans-serif;
  color: var(--primary-color) !important;
}

.collapsible-sections-collapsible-body {
  background-color: rgba(0, 0, 0, 0.01) !important;
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
  margin-left: 1px;
  padding: 0 1rem !important;
  font-family: "Assistant", sans-serif;
}

span.ginput_price {
  margin: 0 1rem 0 0;
}

/* Gravity Forms Errors */
.validation_error:first-child {
  position: relative;
  top: -4.2rem;
}

.woocommerce button.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
a.button.add_to_cart_button,
a.button.product_type_simple,
a.button.wc-forward,
a.button.wc-backward {
  background-image: url(/reefshop/wp-content/uploads/2020/02/send.png) !important;
  background-repeat: no-repeat !important;
  font-family: "Assistant", sans-serif !important;
  color: var(--primary-color) !important;
  background-position: -10px;
  font-weight: 900;
}

a.checkout-button.button.alt.wc-forward {
  background: white;
  display: inline;
}

.single-product .woocommerce .quantity .wpbf-qty-increase::before,
.single-product .woocommerce .quantity .wpbf-qty-increase::after {
  position: fixed;
  content: "";
  background-color: #3e4349;
}

.single-product .woocommerce .quantity .wpbf-qty-decrease::before,
.single-product .woocommerce .quantity .wpbf-qty-increase::before,
.single-product .woocommerce .quantity .wpbf-qty-increase::after {
  position: fixed;
  content: "";
  background-color: #3e4349;
}

h3.product_heading {
  font-family: "Assistant", sans-serif;
  margin-top: -2rem !important;
  display: block;
  background-color: var(--primary-color) !important;
  color: var(--primary-bg-color);
  padding: 1rem 2rem;
}

li.wpbf-post.product.type-product {
  border: solid 1px white;
  padding: 1rem;
}

h3.woocommerce-loop-product__title {
  font-family: "Assistant", sans-serif;
  font-weight: 600 !important;
}

.ginput_container textarea {
  font-family: "Assistant", sans-serif;
}

.validation_error {
  font-family: "Assistant", sans-serif;
}

li#icl_lang_sel_widget-2 {
  list-style-type: none !important;
}

form div.gform_body ul.gform_fields li.gfield.gfield_html ul {
  list-style-type: none;
  margin: 0 !important;
  padding-left: 0;
}

input#input_12_3 {
  direction: ltr !important;
}

/* GF confirmation message */
div#gform_confirmation_wrapper_12 {
  background-color: var(--primary-bg-color);
  padding: 1rem;
  border-radius: 5px;
  color: var(--primary-color);
  box-shadow: 3px 3px #add;
}

div#lang_sel_list ul {
  display: flex;
  justify-content: flex-end;
}

.controls {
  position: relative;
  top: -3.1rem;
  width: 130px;
}

.reef-docs {
  font-family: "Assistant", sans-serif;
  font-weight: 500;
  color: var(--primary-color);
}

i.fas.fa-sync {
  cursor: pointer;
}

.ginput_container.ginput_container_total {
  background-color: var(--primary-bg-color);
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-family: "Assistant", sans-serif;
  font-weight: 700;
}

/* Hide related products category */
span.wpbf-woo-product-category {
  display: none !important;
}

/* WPML */
.wpml-ls-legacy-list-horizontal {
  border: none;
  padding: 0;
}

.wpml-ls-sidebars-wop-1 ul {
  display: flex;
  justify-content: flex-end;
}

li.wpml-ls-current-language img {
  box-shadow: 2px 2px 12px white;
}

nav li.menu-item-wpml,
nav li.menu-item-wpml a {
  background: transparent !important;
}

/* Woo Single Product */
h1.product_title.entry-title {
  font-family: "Assistant", sans-serif;
  color: var(--primary-color);
  background: var(--primary-bg-color);
  padding: 1rem;
}

img.metro-logo {
  margin-top: 1rem;
  border-radius: 50%;
  border: solid #f26522;
  width: 125px;
  float: right;
}

/* Cart Icon */
.wpbf-woo-menu-item .wpbf-woo-menu-item-count {
  background-color: #f26522 !important;
}

.wpbf-woo-menu-item .wpbf-woo-menu-item-count:before {
  color: #f26522 !important;
}

footer a,
footer a:hover {
  color: white;
}

a.scrolltop {
  transform: translateY(10px);
}

input#gform_submit_button_12 {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: "Assistant", sans-serif;
  width: 100% !important;
  text-align: center !important;
}

/* Home Pre Footer - Newsletter Signup */
.elementor-477 .elementor-element.elementor-element-44bdb746 {
  padding: 0;
}

.home .validation_error {
  display: none;
}

#pre-footer {
  background: rgb(254, 175, 89);
  background: linear-gradient(
    180deg,
    rgba(254, 175, 89, 0.4351005982816889) 0%,
    rgba(242, 101, 34, 0.93) 100%
  );
  margin: 4rem 0 0 0 !important;
  padding: 0 !important;
}

/* Transpo */
.page-id-5782 div#inner-content,
.page-id-5778 div#inner-content {
  max-width: 1060px;
}

.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0 !important;
}

/* FAQ page */
.elementor-toggle {
  margin: 0 3rem;
}

.elementor-tab-title,
a.elementor-item.elementor-item-active {
  background: transparent !important;
  font-family: "Assistant", sans-serif;
  font-weight: 500 !important;
}

.elementor-tab-content {
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
}

/* Responsive CSS */

@media (min-width: 362px) and (max-width: 768px) {
  .swiper-slide-bg {
    background-size: contain !important;
  }

  .elementor-477 .elementor-element.elementor-element-16d24a9 .swiper-slide {
    height: 221px !important;
  }

  .language-en
    .elementor-5754
    .elementor-element.elementor-element-d3cd1f6
    > .elementor-container {
    min-height: 221px;
  }
} /*  end media query */

@media (max-width: 361px) {
  .elementor-477 .elementor-element.elementor-element-16d24a9 .swiper-slide {
    height: 143px !important;
  }

  .elementor-nav-menu--dropdown .elementor-item {
    font-family: "Assistant", sans-serif !important;
    color: var(--primary-color) !important;
    font-weight: 500 !important;
  }

  a.elementor-item.elementor-item-active {
    background: transparent !important;
    font-size: 1.4rem !important;
  }

  .language-en
    .elementor-5754
    .elementor-element.elementor-element-d3cd1f6
    > .elementor-container {
    min-height: 125px;
  }
} /*  end media query */

/* Mobiles & Tablets */
@media (max-width: 768px) {
  nav.elementor-nav-menu--dropdown.elementor-nav-menu__container {
    background-image: linear-gradient(180deg, #f26522 0%, #feaf59 100%);
  }

  .elementor-toggle
    .elementor-tab-title
    .elementor-toggle-icon.elementor-toggle-icon-right {
    float: right;
    text-align: right;
    color: var(--secondary-color) !important;
    margin-left: 8px;
  }

  .elementor-toggle .elementor-tab-title {
    padding: 0;
    padding-bottom: 1rem;
  }

  .wpbf-footer-two-columns .wpbf-inner-footer-right,
  .wpbf-footer-two-columns .wpbf-inner-pre-header-right,
  .wpbf-pre-header-two-columns .wpbf-inner-footer-right,
  .wpbf-pre-header-two-columns .wpbf-inner-pre-header-right {
    text-align: center;
  }

  .elementor-5969
    .elementor-element.elementor-element-7ecd18d8
    > .elementor-element-populated {
    padding: 0;
  }

  .elementor-menu-toggle {
    transform: translateX(36px);
  }

  .language-en .elementor-menu-toggle {
    transform: translate(36px, 6px);
  }

  /* waze icon - hide on desktop */
  .home a[rel="nofollow"] {
    display: inline-block !important;
  }

  .elementor-5969 .elementor-element.elementor-element-43168771 {
    width: 22px;
  }

  .elementor-5969
    .elementor-element.elementor-element-37e5faf3
    .elementor-menu-toggle {
    width: 40px;
  }

  .language-en
    .elementor-5969
    .elementor-element.elementor-element-37e5faf3
    .elementor-menu-toggle {
    transform: translateX(-1rem);
  }

  .language-en
    .elementor-5969
    .elementor-element.elementor-element-1e8dbfd8
    .elementor-icon-list-text {
    padding-right: 0;
  }

  .language-en ul.elementor-icon-list-items li:nth-child(2) {
    transform: translate(-30px, -3px);
  }

  .language-en .elementor-icon-list-items li:first-child {
    transform: translate(-30px, -2px);
  }

  .elementor-5969 .elementor-element.elementor-element-87f1191 {
    width: 0;
  }

  .elementor .elementor-element ul.elementor-icon-list-items {
    padding: 0;
    transform: translateY(-2rem);
  }

  .elementor-5969 .elementor-element.elementor-element-628e09b7 {
    max-height: 45px;
  }

  ul.elementor-icon-list-items li:first-child {
    max-width: 50%;
    margin: auto;
    position: relative;
    transform: translateY(-7px);
    transform: translateX(-10px);
  }

  .elementor .elementor-element ul.elementor-icon-list-items {
    transform: translate3d(1rem, -2.4rem, 0);
    width: 83%;
    float: left;
    display: flex;
  }

  .language-en .elementor .elementor-element ul.elementor-icon-list-items {
    float: right;
  }

  ul.elementor-icon-list-items li:nth-child(2) {
    transform: translateY(-2px);
  }

  nav.elementor-nav-menu--dropdown.elementor-nav-menu__container {
    transform: translateY(-1.3rem) !important;
  }

  /* waze icon - hide on desktop */
  li.elementor-icon-list-item:nth-child(2) {
    display: inline;
  }
} /*  end media query */
