/* RTL Styles Here */

/* Gravity Forms */
.gform_body {
  direction: rtl;
}

input[type="checkbox"] + label::before {
  right: -1rem;
  position: absolute;
  background: var(--primary-bg-color);
  position: relative;
  top: 5px !important;
}

.ginput_container.ginput_container_total {
  direction: ltr;
}

.gform_wrapper span.ginput_total {
  color: var(--primary-color) !important;
}

ul.policy,
ol.policy,
ul.form_transpo {
  font-family: "Assistant", sans-serif;
  font-weight: 500;
  color: var(--primary-color);
}

strong,
.gfield_select {
  font-family: "Assistant", sans-serif;
}

h4 {
  margin: 0 !important;
  font-family: "Assistant" !important;
}

.gform_wrapper .field_description_below .gfield_description {
  padding-top: 16px;
  font-family: "Assistant", sans-serif;
  color: var(--primary-color);
}

/* Hide extra native checkbox GF */
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"] {
  visibility: visible;
}

/* WooCommerce */
/* Single Product Page */
.sc_layouts_title_caption {
  font-family: "Assistant", sans-serif;
}

.controls {
  position: relative;
  top: -2.5rem;
}

span.ginput_price {
  margin: 0 0 0 1rem;
}

img.metro-logo {
  float: left;
}

.gform_wrapper ul.gform_fields li.gfield {
  padding-left: 0 !important;
}

h3.product_heading {
  margin-top: -2rem !important;
}

a.button.wc-forward {
  float: left !important;
}

.woocommerce a.button.alt {
  background-color: white;
}
